.hotAccessoriesMenu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hotAccessoriesLink{
	text-decoration: none;
	color: rgb(55, 55, 55);
	margin: 0 1.5rem 1.5rem;
	padding-bottom: 0.3rem ;
	border-bottom: 1px solid white;
	
}

.hotAccessoriesLink:hover{
	color: #FF6900;
	border-bottom: 1px solid #FF6900;
}

