.startproducts{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.1rem auto;
}

.startproducts div:last-child{
	width: 41%;
}

.startproducts img{
	transition: all 0.5s;
}

.startproducts img:hover{
	box-shadow: 6px 6px 15px rgba(51, 51, 51, 0.3);
}